@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
}

header {
  position: fixed;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.font-roboto-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.font-roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.custom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 94px;
  letter-spacing: 0em;
  text-align: center;
}

.issue-background {
  background: rgba(26, 22, 34, 0.8);
  border: 1px solid #35323C;
  width: Hug (1, 265px);
  height: Hug (448px);
  padding: 32px, 28px, 32px, 28px;
  border-radius: 8px;
  gap: 20px;
}

.rt-input-input {
  position: relative;
}

.rt-input-input::after {
  content: 'ETH';
  width: 3em;
  height: 1em;
  position: absolute;
  top: 40%;
  right: 10px;
  color: #5E978F;
  transform: translateY(-50%);
}

.custom-input {
  border-color: #649891;
  border-radius: 20px;
}

.custom-cancel-btn {
  height: 32px;
  width: 180px;
  border-color: #649891;
  border-radius: 20px;
}

.custom-send-btn {
  height: 32px;
  width: 180px;
  background-color: #119583;
  color: #FFFFFF;
  border-radius: 20px;
}

.custom-create-issue-btn {
  height: 32px;
  width: 220px;
  background-color: #119583;
  color: #FFFFFF;
  border-radius: 20px;
}

.custom-container {
  border-color: #35323C;
  border-radius: 20px;
}

.custom-container-hr {
  border-color: #35323C;
}